#Header{
    width: 1538px;
    height: 69px;
    background-color: rgb(17, 109, 109); 
    position: fixed;
}

.spotify-logo{
    position: absolute;
    color: rgb(202, 218, 233);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    top: 12px;
    left:80px;
}
.logsign-box{
    position: absolute;
    top: 0px;
    left:1276px;
}
.Userdetails{
    position: absolute;
    top: 0px;
    left:1388px;
}
.logsign-box button{
padding: 24.5px;
border: 0px;
font-size: 17px;
color: aliceblue;
background-color: rgb(17, 109, 109);
width: 130px;
}
.logsign-box button:hover{
    background-color: rgb(245, 237, 238);
    cursor: pointer;
    color: black;
}